<div class="nav-bar">
    <a class="home-link" href="{% url 'home' %}">
        <h1>K2F</h1>
    </a>
    <br>

    <div class="user-hello">
        {% if request.user.is_authenticated %}
        <div class="dropdown">
            <button class="dropbtn" style="color: white;">Hello {{request.user}}</button>
            <div class="dropdown-content">
                <a href="#">Link 2</a>
                <a href="#">Link 2</a>
                <a href="{% url 'logout' %}">Logout</a>
            </div>
        </div>
        {% else %}

        {% endif %}
    </div>
    <div>
        <form method="GET" action="{% url 'home' %}">
            <input type="text" name="q" class="Search-bar" placeholder="Search..."  />
        </form>
    </div>


</div>
<br>