<div class="activity-feed">
    <div class="activity-feed-header">
        <h3 >Recent Activity</h3>
        <br>
    </div>
    <div class="comment-fieald-wrapper">
        {% for message in room_messages %}
        <div class="comment-wrapper">
            <small><a href="{% url 'user-profile' message.user.id %}"><img class="profile-img" src="/./media/profile.jpg" alt="" style="width: 28px; height: 28px;">@{{message.user}}</a>
                <div class="delete-btn-">
                    {% if request.user == message.user %}
                    <a class="delet-btn" href="{% url 'delete-message' message.id %}">X</a>
                    {% endif %}
                </div>
            </small>
            <br>
            <small>{{message.created|timesince}}</small>

            <br>
            <small>replied to "{{message.room}}"</small>
            <br>
            <br>
            <p class="comment-field">{{message}}</p>
        </div>
        <br>
        {% endfor %}
    </div>
</div>