<div class="feed-feed">
    {% for room in rooms %}
    <div class="feed-wrapper">
        <small><a href="{% url 'user-profile' room.host.id %}"><img class="profile-img" src="/./media/profile.jpg" alt="" style="width: 28px; height: 28px;"> @{{room.host.username}}</a></small><small> in {{ room.topic.name }}</small>
        <div class="delete-btn-">

            <small>{{room.created|timesince}}</small>
            <div class="dropdown">
                <button class="dropbtn1" style="color: white;"><img class="profile-img" src="/./media/dots.png" alt="" style="width: 10px; height: 10px;"></button>
                <div class="dropdown-content">
                    {% if request.user == room.host %}
                    <a href="{% url 'update-room' room.id %}">Edit</a>
                    <a class="delet-btn" href="{% url 'delete-room' room.id %}">Delete</a>
                    {% endif %}
                </div>
            </div>
    
        </div>


        <h5><a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    </div>
    <br>
    {% endfor %}
</div>