{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="home-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        <div class="room-count">
            <a class="create-btn-" href="{% url 'create-room'%}">Create Room</a>
            <h5 style="color:rgb(55, 1, 100);">{{room_count}} rooms available</h5>
        </div>
        <br>
        <br>
        <br>
        {% include 'base/feed_component.html' %}

    </div>
    <div class="">
        {% include 'base/activity_component.html' %}
    </div>
</div>


{% endblock %}