{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

{% if page == 'login' %}
<div class="login-box">
    <h2>Knife 2 Fork</h2>
    <form method="POST" action="">
      {% csrf_token %}
      <div class="user-box">
        <input type="text"  name="username" required="" >
        <label>Username</label>
      </div>
      <div class="user-box">
        <input type="password"  name="password" required="" >
        <label>Password</label>
      </div>
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <input type="submit" value="Login">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </form>
    
    <p>Havent signed up yet?</p>
    <a href="{% url 'register' %}">Sign Up</a>
  </div>
  {% else %}
  <div class="login-box2">
    <h2>Login</h2>
    <form method="POST" action="">
      {% csrf_token %}
      {{form}}
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      
      <input type="submit" value="Register">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </form>
    
    <p>Already signed up?</p>
    <a href="{% url 'login' %}">Login</a>
  </div>
  {% endif %}
{% endblock %}