{% extends "base.html" %}
{% load static %}

{% block page_header %}

{% endblock %}

{% block content %}

<div class="profile-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div>
        <div class="profile-bio">
            <img class="profile-img" src="/./media/profile.jpg" alt="">
            <h1 style="color: whitesmoke;">@ {{user.username}}</h1>
            <H6 style="color: whitesmoke;">{{user.first_name}} {{user.last_name}}</H6>
            <H6 style="color: whitesmoke;">{{user.bio}}</H6>
        </div>
        {% include 'base/feed_component.html' %}
    </div>
    <div>
        {% include 'base/activity_component.html' %}
    </div>
</div>

{% endblock %}